
h1{
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #098F9E;
}

p{
    font-family: Poppins;
    font-weight: 300;
    font-size: 15.08px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #B90607;
}
::ng-deep input {
    width: 100% !important;
    background-color: #EEEEEE !important;
    color: #159CAB !important;
    border-radius: 10px;
    height: 33px;
}

.p-float-label {
    margin-top: 23px;
    font-weight: 400 !important;
    font-family: 'Poppins-Regular' !important;
    font-size: 11px;
    text-align: center;
}
 ::ng-deep .p-float-label input:focus~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .p-inputwrapper-filled~label {
    text-align: center;
    color: #159CAB !important;
    font-weight: 400 !important;
    font-family: 'Poppins-Regular' !important;
}

.p-float-label>label {
    color: #159CAB !important;
}


.buttonEnd {
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 23px;
    .clean,
    .cancel {
        font-family: 'Poppins-Bold' !important;
        font-size: 12px;
        height: 33px !important;
        border: 3px solid;
        font-weight: 700 !important;
        border-radius: 10px;
    }
    .clean {
        background-color: #B13030;
        color: #EEEEEE !important;
        width: 103px;
    }
    .clean:disabled {
        background: #D9D9D9;
    }
    .cancel {
        background-color: #056479;
        color: #EEEEEE !important;
        width: 110px;
    }
}

