
<div class="homeContainer">
    <header>
        <div class="menu">
            <mat-button-toggle-group  [value]="'agenda'" (change)="changeSelection($event.value)" name="fontStyle" aria-label="Font Style" [hideSingleSelectionIndicator]="true">
                <mat-button-toggle toggle="true" value="agenda">Agenda
                    <svg class="agenda">
                        <use xlink:href="../../assets/serfertil-app-icons/symbol-defs.svg#sficon-agenda">
                        </use>
                    </svg>
                </mat-button-toggle>
                <mat-button-toggle on value="management" style="margin-left: 4px;" >Gestion
                    <svg class="cuenta">
                        <use xlink:href="../../assets/serfertil-app-icons/symbol-defs.svg#sficon-usuario">
                        </use>
                    </svg>
                </mat-button-toggle>
                <mat-button-toggle value="underline" style="margin-left: 4px;" class="disabled">Ayuda
                    <svg class="ayuda">
                        <use xlink:href="../../assets/serfertil-app-icons/symbol-defs.svg#sficon-ayuda">
                        </use>
                    </svg>
                </mat-button-toggle>
                <mat-button-toggle value="underline" style="margin-left: 4px;" class="disabled">Sistema
                    <svg class="sistema">
                        <use xlink:href="../../assets/serfertil-app-icons/symbol-defs.svg#sficon-ajustes">
                        </use>
                    </svg>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="activity">
            <div class="name" style="margin-left: 1em;">
                {{name}}
            </div>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [hideSingleSelectionIndicator]="true">
                <mat-button-toggle value="bold">Disponible <div class="disponible"></div></mat-button-toggle>
                <mat-button-toggle value="italic">Descanso <div class="descanso"></div></mat-button-toggle>
                <mat-button-toggle value="underline">Consultando <div class="consultando"></div></mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-mini-fab [matMenuTriggerFor]="user" class="button-user">
                <svg>
                    <use xlink:href="../../assets/serfertil-app-icons/symbol-defs.svg#sficon-usuario">
                    </use>
                </svg>
            </button>
        </div>
        <mat-menu #user="matMenu">
            <button mat-menu-item class="select-menu">
                <svg>
                    <use xlink:href="../../assets/serfertil-app-icons/symbol-defs.svg#sficon-ajustes">
                    </use>
                </svg>
                <p>Mi cuenta</p>
            </button>
            <button mat-menu-item class="select-menu mode-black">
                <svg>
                    <use xlink:href="../../assets/serfertil-app-icons/symbol-defs.svg#sficon-modo-oscuro">
                    </use>
                </svg>
                <p>Modo oscuro</p>
            </button>
            <button mat-menu-item class="log-out" (click)="logout()">
                <svg>
                    <use xlink:href="../../assets/serfertil-app-icons/symbol-defs.svg#sficon-cerrar-sesion">
                    </use>
                </svg>
                <p>Cerrar Sessión</p>
            </button>
        </mat-menu>
    </header>
    
    <div [class.menu-open-background]="isMenuOpen" class="contentTabs">
        <router-outlet></router-outlet>
    </div>
</div>
